/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 140px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-romes);
  -webkit-font-smoothing: antialiased;
}

/* Spaces */
.p {
  &b {
    &-5 {
      padding-bottom: 5px;
    }

    &-10 {
      padding-bottom: 10px;
    }

    &-15 {
      padding-bottom: 15px;
    }

    &-20 {
      padding-bottom: 20px;
    }

    &-24 {
      padding-bottom: 24px;
    }

    &-40 {
      padding-bottom: 40px;
    }

    &-50 {
      padding-bottom: 37px;

      @media only screen and (min-width: 1024px) {
        padding-bottom: 50px;
      }
    }

    &-64 {
      padding-bottom: 37px;

      @media only screen and (min-width: 1024px) {
        padding-bottom: 64px;
      }
    }
  }

  &t {
    &-7 {
      padding-top: 7px;
    }
  }
}
/* Botons */
.button {
  font-family: var(--font-romes);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: max-content;
  height: 45px;
  padding: 0 25px;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  font-size: var(--16);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
  cursor: pointer;

  &--center {
    margin: 0 auto;
  }

  &--primary {
    color: var(--4F3747);
    border: 1px solid var(--4F3747);
  }
}
/* Title */
.font-hatton {
  font-family: var(--font-hatton);
}

.font-bosque {
  font-family: var(--font-bosque);
  -webkit-text-stroke-width: 0.2px;
}

.font-romes {
  font-family: var(--font-romes) !important;
}

/* Colors */
.color {
  &--A07F2B {
    color: var(--A07F2B);
  }

  &--4A4A4A {
    color: var(--4A4A4A);
  }

  &--4F3747 {
    color: var(--4F3747);
  }

  &--964F4C {
    color: var(--964F4C);
  }

  &--FCF0E3 {
    color: var(--FCF0E3);
  }

  &--9F3F58 {
    color: var(--9F3F58);
  }
}

.uppercase {
  text-transform: uppercase;
}

/* Grid */
.grid {
  position: relative;
  display: grid;

  &--2 {
    grid-template-columns: 1fr;

    @media only screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--3 {
    grid-template-columns: 1fr;
    gap: 10px;

    @media only screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.gap {
  gap: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--gap {
    &-68 {
      column-gap: 68px;
      row-gap: 40px;
    }
  }
}
/* Align */
.text-center {
  text-align: center;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  transform: translateY(10px);
  transition: all 0.4s ease;
  // background-color: var(--FFF);
  z-index: 11;

  &.quindio {
    background-color: rgba(255, 255, 255, 0.75);
  }

  @media only screen and (min-width: 1024px) {
    justify-content: center;
    padding: 19px 5px;
    // background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(30px);
  }

  &.is-scroll {
    background-color: var(--FFF);
    transform: translateY(0);
    .header__link {
      color: var(--964F4C);
    }
  }

  &__button {
    position: relative;
    width: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (min-width: 1024px) {
      display: none;
    }

    .icon {
      &-menu,
      &-close {
        width: 100%;
        transition: all 0.4s ease;
      }

      &-close {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
      }
    }

    &.is-active {
      .icon {
        &-menu {
          opacity: 0;
          visibility: hidden;
        }

        &-close {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  nav {
    display: none;
    @media only screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    align-items: center;
    text-align: center;

    &-mobile {
      width: 50px;

      svg {
        width: 100%;
      }

      img {
        width: 100%;
      }
      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }

    li {
      &:first-child {
        a {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  &__logo {
    max-width: 40px;
    @media only screen and (min-width: 1024px) {
      max-width: 40px;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 0 20px;
    color: var(--964F4C);
    text-align: center;
    font-size: var(--18);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.6px;
    text-decoration: none;
    -webkit-text-stroke-width: 0.2px;
    // -webkit-text-stroke-color: var(--000);

    &.active {
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -6px;
        left: 50%;
        width: calc(100% - 50px);
        height: 1px;
        background: var(--964F4C);
        transform: translate(-50%, 0);
      }
    }

    @media only screen and (min-width: 1024px) {
      padding: 0 20px;
      font-size: var(--22);
    }

    @media only screen and (min-width: 1366px) {
      padding: 0 38px;
      font-size: var(--26);
    }

    /* &:after {
      @media only screen and (min-width: 1024px) {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 22px;
        background-color: var(--000);
        height: 13px;
      }

      @media only screen and (min-width: 1280px) {
        height: 22px;
      }
    } */
  }
}

.menu {
  &-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--FFF);
    transform: translate3d(100%, 0, 0);
    transition: all 0.4s ease;
    z-index: 9;

    &.is-active {
      transform: translate3d(0, 0, 0);
    }

    nav {
      height: 100%;
    }

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      row-gap: 24px;
    }
  }
}

.heading {
  &--18 {
    font-size: var(--16);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.44px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--18);
    }
  }
  &--20 {
    text-align: center;
    font-size: var(--16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--20);
    }
  }

  &--24 {
    font-size: var(--20);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.92px;
    @media only screen and (min-width: 1024px) {
      font-size: var(--24);
    }
  }

  &--28 {
    font-size: var(--24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.24px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--28);
    }
  }

  &--42 {
    font-size: var(--35);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.4px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--42);
    }
  }

  &--46 {
    font-size: var(--35);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--46);
      line-height: 56px;
    }
  }

  &--54 {
    font-family: var(--font-romesscript);
    color: var(--A07F2B);
    text-align: center;
    font-size: var(--50);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media only screen and (min-width: 1024px) {
      font-size: var(--54);
    }
  }

  &--64 {
    font-size: var(--40);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 12.8px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--64);
    }
  }

  &--72 {
    font-family: var(--font-romesscript);
    font-size: var(--60);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media only screen and (min-width: 1024px) {
      font-size: var(--72);
    }
  }

  &--112 {
    text-align: center;
    font-family: var(--font-romesscript);
    font-size: var(--80);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media only screen and (min-width: 1024px) {
      font-size: var(--112);
    }
  }
}

/* Section */
.section {
  &Banner {
    &__bckg {
      padding: 120px 0 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // background-attachment: fixed;

      @media only screen and (min-width: 1024px) {
        padding: 200px 0 0;
      }
    }

    &__content {
      text-align: center;
      padding-bottom: 210px;

      @media only screen and (min-width: 1024px) {
        padding-bottom: 250px;
      }
    }

    .line--vertical {
      div {
        padding-top: 20px;
      }
    }

    .logo-joanna-marcin {
      img {
        width: 100%;
        max-width: 330px;
        @media only screen and (min-width: 1024px) {
          max-width: max-content;
        }
      }
    }
  }

  &Countdown {
    position: relative;
    padding: 0 24px 100px;

    @media only screen and (min-width: 1024px) {
      padding: 0 24px 500px;
    }

    &__bckg {
      width: 100%;
      padding: 40px 0 60px;
      background-image: url(../../img/img-3.png);
      background-color: var(--F5C19E);

      @media only screen and (min-width: 1024px) {
        max-width: 1153px;
        margin: -100px auto 0;
      }

      .heading--112 {
        padding-bottom: 30px;
      }
    }

    &__timer {
      display: flex;
      column-gap: 30px;
      justify-content: center;
      padding: 0;

      @media only screen and (min-width: 1024px) {
        justify-content: space-between;
        column-gap: 50px;
        padding: 0 110px;
      }

      div {
        display: flex;
        flex-direction: column;
        color: var(--964F4C);
        text-align: center;
        font-size: var(--48);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media only screen and (min-width: 1024px) {
          font-size: var(--142);
        }
      }

      span {
        font-size: var(--16);
        @media only screen and (min-width: 1024px) {
          font-size: var(--24);
        }
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../img/img-4.png);
      background-size: cover;
      z-index: -1;
    }

    &Slider {
      &__container {
        width: 100%;
        max-width: 1211px;
        margin: 0 auto;
        padding: 0 20px;

        .padding {
          padding: 18px 5px;
          @media only screen and (min-width: 1024px) {
            padding: 25px 12px;
          }

          .item {
            padding: 10px;
            background-color: var(--FFF);

            @media only screen and (min-width: 1024px) {
              padding: 20px;
            }

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .img {
      position: absolute;

      &-7 {
        top: 960px;
        right: 0;
        width: 100px;


        @media only screen and (min-width: 680px) {
          top: 1000px;
          width: 200px;
        }

        @media only screen and (min-width: 1024px) {
          width: 200px;
        }

        @media only screen and (min-width: 1280px) {
          width: 200px;
        }

        @media only screen and (min-width: 1366px) {
          width: auto;
        }
      }

      &-8 {
        bottom: 500px;
        left: 0;
        z-index: 0;
        width: 120px;

        @media only screen and (min-width: 680px) {
          width: 230px;
        }

        @media only screen and (min-width: 1024px) {
          width: 230px;
        }

        @media only screen and (min-width: 1280px) {
          width: 240px;
        }

        @media only screen and (min-width: 1366px) {
          width: auto;
        }
      }
    }
  }

  &Events {
    padding: 56px 0 0;
    text-align: center;

    .img-9 {
      position: absolute;
      top: -81px;
      right: -29px;
    }
  }

  &Rsvp {
    position: relative;

    img {
      position: absolute;
      top: -50px;
      left: 0;
      width: 300px;

      @media only screen and (min-width: 1024px) {
        top: -90px;
        width: auto;
      }
    }

    &__bckg {
      padding: 100px 0 0 0;
      background-color: var(--F5C19E);

      @media only screen and (min-width: 1024px) {
        padding: 100px 0 120px 0;
      }
    }

    &__text {
      text-align: center;
    }

    &__form {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px 40px;
      @media only screen and (min-width: 1024px) {
        max-width: 680px;
      }

      .grid {
        column-gap: 20px;
      }
    }
  }

  &Quindio {
    &__bckg {
      position: relative;
      padding: 140px 0 0;

      @media only screen and (min-width: 1024px) {
        padding: 400px 0 0;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background-image: url(../../img/img-6.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media only screen and (min-width: 1024px) {
          height: 800px;
        }
      }
    }

    &City {
      position: relative;
      padding: 100px 0 0;
      text-align: center;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        background-color: var(--FCF0E3);
        clip-path: polygon(
          100% 19.749%,
          100% 19.749%,
          96.362% 16.28%,
          92.352% 13.087%,
          87.995% 10.191%,
          83.318% 7.613%,
          78.347% 5.374%,
          73.108% 3.495%,
          67.627% 1.997%,
          61.932% 0.902%,
          56.047% 0.229%,
          50% 0%,
          50% 0%,
          43.953% 0.229%,
          38.068% 0.902%,
          32.373% 1.997%,
          26.892% 3.495%,
          21.653% 5.374%,
          16.682% 7.613%,
          12.005% 10.191%,
          7.648% 13.087%,
          3.638% 16.28%,
          0% 19.749%,
          0% 128.95%,
          100% 128.95%,
          100% 19.749%
        );

        @media only screen and (min-width: 1024px) {
          height: 1000px;
        }
      }

      @media only screen and (min-width: 1024px) {
        padding: 130px 0 0;
      }

      &__text {
        position: relative;
      }
    }

    &__text {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      .heading--18 {
        line-height: 20px;
      }

      @media only screen and (min-width: 1024px) {
        max-width: 990px;
        padding: 0 20px;

        .heading--18 {
          line-height: 30px;
        }
      }
    }

    &__events {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 45px 10px;

      @media only screen and (min-width: 1024px) {
        padding: 90px 60px 80px;
      }

      &-bckg {
        background-color: var(--FCF0E3);
      }

      .event {
        text-align: center;
        padding: 10px;

        p {
          padding-top: 20px;
          margin-bottom: 10px;
          @media only screen and (min-width: 1024px) {
            padding-top: 40px;
          }
        }

        img {
          width: 100%;
        }

        a {
          display: inline-block;
          padding: 15px 50px;
          color: var(--4F3747);
          font-size: var(--16);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.28px;
          border: 1px solid var(--4F3747);
          text-decoration: none;
        }
      }
    }

    .slick-track {
      padding-bottom: 40px;
    }

    &__places {
      width: 100%;
      margin: 0 auto;
      padding: 40px 20px 20px;

      &-bckg {
        position: relative;
        background-color: var(--FCF0E3);
      }

      @media only screen and (min-width: 1024px) {
        max-width: 950px;
        padding: 120px 20px 140px;
      }
    }

    &__place {
      padding: 17px;
      background-color: var(--FFF);
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      @media only screen and (min-width: 1024px) {
        margin-bottom: 60px;
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 223px;

      h2 {
        display: block;
        width: 95%;
        padding: 10px 10px 4px;
        color: var(--FCF0E3);
        text-align: center;
        font-size: var(--16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5.6px;
        background-color: var(--964F4C);

        @media only screen and (min-width: 1024px) {
          width: 80%;
          font-size: var(--28);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-fit: center;
      }
    }

    ul {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 30px;

      @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 65px;
        padding-bottom: 40px;
      }

      li {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 40px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 80%;
          height: 1px;
          background: var(--A07F2B);
          transform: translate(-50%, 0);
        }
      }

      h3 {
        color: var(--4F3747);
        line-height: 24px;
        letter-spacing: 2px;
        margin-bottom: 17px;
      }

      p {
        font-family: var(--font-bosque);
        color: var(--4A4A4A);
        text-align: center;
        font-size: var(--13);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.3px;
        margin-bottom: 4px;

        &.number {
          font-size: var(--18);
          letter-spacing: 1.8px;
          margin-top: 10px;
          margin-bottom: 14px;
        }
      }

      a {
        font-family: var(--font-bosque);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--9F3F58);
        font-size: var(--10);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        width: 66px;
        padding: 14px 0 9px 0;
        border: 1px solid var(--9F3F58);
        text-decoration: none;
        margin: 0 auto;
      }
    }

    &__info {
      display: grid;
      row-gap: 30px;

      @media only screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
        row-gap: 60px;
      }
    }

    &__detalle {
      padding: 50px 20px 40px;
      border-radius: 300px 300px 0px 0px;
      border: 1px solid #9f3f58;
      svg {
        width: 40px;
      }

      @media only screen and (min-width: 1024px) {
        padding: 85px 30px 30px;

        svg {
          width: auto;
        }
      }

      &-2 {
        text-align: left;
        border-radius: 0;
        padding: 40px 20px;
        display: grid;
        row-gap: 7px;
        margin-top: 30px;

        @media only screen and (min-width: 1024px) {
          margin-top: 120px;
          padding: 40px;
        }
      }

      .line {
        margin-bottom: 32px;
      }

      .heading--32 {
        font-family: var(--font-romes);
        font-size: var(--28);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--9F3F58);
        margin-top: 22px;

        @media only screen and (min-width: 1024px) {
          font-size: var(--32);
        }
      }

      p {
        color: var(--4F3747);
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: var(--4F3747);
        font-family: var(--font-bosque);
        font-size: var(--18);
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }

      .small {
        color: var(--4F3747);
        font-family: var(--font-bosque);
        font-size: var(--16);
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }

      a {
        display: inline-block;
        font-family: var(--font-bosque);
        width: 114px;
        color: var(--9F3F58);
        font-size: var(--10);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        text-decoration: none;
        border: 1px solid var(--9F3F58);
        padding: 13px 10px 9px;
        margin: 0 auto;
      }

      .text-left {
        text-align: left;

        a {
          width: 200px;
        }
      }
    }
  }
}

.numeral {
  padding: 25px 24px;
  text-align: center;
  background-color: var(--964F4C);
}

.box {
  background-image: url(../../img/box.png);
  background-size: cover;
  background-repeat: no-repeat;
  &--default {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 72px 40px;
    border-radius: 29px;

    @media only screen and (min-width: 1024px) {
      max-width: 585px;
    }
  }

  &--small {
    background-image: url(../../img/box-2.webp);
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 0;
    height: fit-content;

    @media only screen and (min-width: 1024px) {
      max-width: 450px;
      padding: 60px 70px;
    }
  }

  &--0 {
    position: relative;
    margin: 0;
  }
}

.line {
  display: block;
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 22px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 75px;
    height: 1px;
    margin-left: -37px;
    border-bottom: 1px solid var(--A07F2B);
  }

  @media only screen and (min-width: 1024px) {
    &--vertical {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        width: 1px;
        height: 163px;
        background: var(--A07F2B);
      }
    }
  }
}

/* Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #a07f2b9e;
  z-index: 20;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;

    @media only screen and (min-width: 1024px) {
    }

    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
  }

  button {
    position: absolute;
    right: -4px;
    top: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (min-width: 1024px) {
      right: 0;
      top: 0;
    }
  }
}

/* Form */

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.form-group__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

[type="text"],
[type="tel"],
[type="email"],
[type="number"],
select,
[type="date"] {
  font-family: var(--font-hatton);
  width: 100%;
  height: 60px;
  padding: 0 10px;
  font-size: var(--10);
  letter-spacing: 1.4px;
  font-weight: 500;
  color: var(--4D4D4D);
  border-radius: 5px;
  border: 1px solid var(--FFF);
  letter-spacing: 1px;
  background-color: var(--FFF);

  @media only screen and (min-width: 1024px) {
    font-size: var(--14);
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: var(--font-montserrat);
    color: var(--7480A2);
    font-size: var(--10);
    font-weight: 400;

    @media only screen and (min-width: 1024px) {
      font-size: var(--14);
    }
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    font-family: var(--font-montserrat);
    color: var(--7480A2);
    font-size: var(--10);
    font-weight: 500;

    @media only screen and (min-width: 1024px) {
      font-size: var(--14);
    }
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    font-family: var(--font-montserrat);
    color: var(--7480A2);
    font-size: var(--10);
    font-weight: 500;

    @media only screen and (min-width: 1024px) {
      font-size: var(--14);
    }
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    font-family: var(--font-montserrat);
    color: var(--7480A2);
    font-size: var(--10);
    font-weight: 500;

    @media only screen and (min-width: 1024px) {
      font-size: var(--14);
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: 90% 25px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='7' viewBox='0 0 9 7' fill='none'%3E%3Cg clip-path='url(%23clip0_493_46989)'%3E%3Cpath d='M4.5 6.5L0 0H9L4.5 6.5Z' fill='%23964F4C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_493_46989'%3E%3Crect width='9' height='6.5' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

textarea {
  font-family: inherit;
  width: 100%;
  margin-top: 5px;
  padding: 20px;
  border: 0;
}

.form-group__full {
  margin-bottom: 18px;
}

.form-group__full .flex {
  justify-content: flex-start;
  margin-bottom: 30px;
}

.wpcf7-radio {
  display: flex;
  column-gap: 20px;
}

.form-group__item label,
.form-group__full label {
  font-family: var(--font-romes);
  display: block;
  margin-bottom: 6px;
  color: var(--964F4C);
  font-size: var(--14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: left;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.20000000298023224px;

  @media only screen and (min-width: 1024px) {
    font-size: var(--14);
  }
}

.form-group__item span label,
.form-group__full span label {
  position: relative;
  text-transform: none;
  margin-bottom: 0;
}

.form-group__full input[type="checkbox"],
.form-group__full input[type="radio"] {
  opacity: 0;
}

.form-group__full input[type="checkbox"] + span:before,
.form-group__full input[type="radio"] + span:before {
  content: "";
  display: flex;
  position: absolute;
  top: 2px;
  left: 4px;
  width: 20px;
  height: 20px;
  border: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.form-group__full input[type="checkbox"] + span:after,
.form-group__full input[type="radio"] + span:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background: var(--FFF);
  border-radius: 5px;
  // border: 1px solid var(--7480A2);
}

input[type="checkbox"]:checked + span:before,
input[type="radio"]:checked + span:before {
  background: #964f4c;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  opacity: 1;
}

.form-group__full {
  display: flex;
  flex-direction: column;
}

.wpcf7-list-item {
  display: block;
  margin-left: 0;
  margin-bottom: 10px;
}

.wpcf7-list-item-label {
  padding-left: 6px;
  cursor: pointer;
}

.wpcf7-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.form-group-button input {
  font-family: var(--font-hatton);
  border: 0;
  width: 250px;
  margin-top: 40px;
  padding: 14px 35px;
  color: #fce8d0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 4.8px;
  background-color: var(--964F4C);
  cursor: pointer;
}

.form-group-button {
  text-align: center;
}

.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border-color: var(--EAC8C1);
  text-align: center;
  font-size: var(--10);
}

.wpcf7 form.sent .wpcf7-response-output {
  display: none;
}

.wpcf7-not-valid-tip {
  font-family: var(--font-hatton);
  font-size: 11px;
  margin-top: 10px;
  color: var(--EAC8C1);
  text-align: left;
}

/* Tab */
.accordion {
  &-link {
    position: relative;
    width: 100%;
    padding: 20px 40px 20px 0;
    border: 0;
    text-align: left;
    border-radius: 5px;
    // border-top: 1px solid var(--7480A2);
    background-color: transparent;
    cursor: pointer;

    &.text--16 {
      font-size: var(--14);
      line-height: 20px;
      letter-spacing: normal;
    }

    @media only screen and (min-width: 1024px) {
      padding: 20px 60px 20px 0;

      &.text--16 {
        font-size: var(--16);
      }
    }

    svg {
      position: absolute;
      top: 27px;
      right: 10px;
      transition: transform 0.3s ease;

      @media only screen and (min-width: 1024px) {
        right: 30px;
      }
    }

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &-content {
    display: none;
    padding-bottom: 30px;

    p {
      font-family: var(--font-montserrat);
      text-align: left;
      color: var(--000);
      font-size: var(--14);
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.22px;
      padding-right: 70px;
    }

    &.active {
      display: block;
    }
  }
}

.slick {
  &-next,
  &-prev {
    top: 45% !important;
  }
  &-dots {
    li {
      width: 10px;

      button:before {
        font-size: var(--11);
      }
    }
  }

  &-next,
  &-prev {
    width: 41px;
    height: 41px;
    z-index: 1;
    top: 60%;
  }

  &-next {
    right: -40px;
    &:before {
      display: block;
      width: 44px;
      height: 70px;
      font-size: 0;
      background: url("../../img/next.png");
      background-repeat: no-repeat;
      background-size: 40px;
    }
  }

  &-prev {
    left: -40px;
    &::before {
      display: block;
      width: 44px;
      height: 70px;
      font-size: 0;
      background: url("../../img/prev.png");
      background-repeat: no-repeat;
      background-size: 40px;
    }
  }

  &-dotted {
    padding-bottom: 40px;
  }
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: none !important;
}

img.animation {
  position: fixed;
  top: 0;
  left: 50%;
  width: auto;
  margin: 0 auto;
  transform: translate(-50%, 0%);
}

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--FFF);

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    animation: 1s ease-in-out forwards scale;

    img {
      width: 120px;
      max-width: 120px !important;

      @media only screen and (min-width: 1024px) {
        width: 150px;
        max-width: 150px !important;
      }
    }
  }
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }
}

span.small,
label.small {
  display: block;
  font-size: 10px;
  text-transform: math-auto;

  @media only screen and (min-width: 1024px) {
    margin-top: 40px;
  }
}

.small-2 {
  @media only screen and (min-width: 1024px) {
    display: flex !important;
    align-items: center;
    column-gap: 5px;
  }
}
