:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-rodetta: "Rodetta";
  --font-hatton: "PP Hatton";
  --font-bacalisties: "Bacalisties";
  --font-romes: "Romes";
  --font-romesscript: "RomesScript";
  --font-bosque: "Bosque";
  --FFF: #fff;
  --000: #000;
  --333: #333;

  --A07F2B: #A07F2B;
  --4A4A4A: #4A4A4A;
  --4F3747: #4F3747;
  --964F4C: #964F4C;
  --F5C19E: #F5C19E;
  --FCF0E3: #FCF0E3;
  --9F3F58: #9F3F58;
  --4F3747: #4F3747;

  --10: 10px;
  --11: 11px;
  --12: 12px;
  --13: 13px;
  --14: 14px;
  --16: 16px;
  --18: 18px;
  --20: 20px;
  --22: 22px;
  --24: 24px;
  --26: 26px;
  --28: 28px;
  --30: 30px;
  --32: 32px;
  --35: 35px;
  --36: 36px;
  --38: 38px;
  --40: 40px;
  --42: 42px;
  --44: 44px;
  --48: 48px;
  --46: 46px;
  --50: 50px;
  --54: 54px;
  --56: 56px;
  --60: 60px;
  --64: 64px;
  --72: 72px;
  --80: 80px;
  --90: 90px;
  --112: 112px;
  --142: 142px;
}